html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-position:center;

}
.form-group {
    margin-bottom: 10px
}
.form-control {
    padding: 16px 0 10px 0
}

/*File create*/
.select_option {
    text-align: center;
}

.control-label-select {
    margin: 0 0 10px 0;
}

.form-group-select {
    display: grid
}

.bi-pencil-square {
    text-decoration: none;
}



.table-hover > tbody > tr > td{
    cursor:pointer; 
}

.custom-file-input-margin {
    margin-bottom: 10px;
}
.form-control-user-email {
    color: #f0a437;
    font-weight: 800
}
.forn-group-info{
    margin: 10px;
    width:100%;
}
.title {
    /*margin: 10px;*/
    padding: 10px 10px 15px 10px;
    display: flex;
    justify-content: center;
    /*background-color: #ADC9DF;*/
}
.table-hover-text-center {
    text-align: center;
}
.title-name {
    text-align: center;
}
.content {
    display: flex;
    width: 630px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #ccc 2px 2px 3px,#ccc -2px 2px 3px;
    margin-bottom: 40px;
    background-color: #F2F2F2 !important;
}
img {
    margin-right: 50px;
    width: 160px;
    height: 175px;
}
h1{
    text-align:center;
}
.container-2 {
    display: flex;
    justify-content: center;
}
.collumns{
    display:flex;
}