html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.form-group {
    margin-bottom: 10px
}
.form-control {
    padding: 16px 0 10px 0
}

/*File create*/
.select_option {
    text-align: center;
}

.control-label-select {
    margin: 0 0 10px 0;
}

.form-group-select {
    display: grid
}

.bi-pencil-square {
    text-decoration: none;
}



.table-hover > tbody > tr > td{
    cursor:pointer; 
}

.custom-file-input-margin {
    margin-bottom: 10px;
}

.form-group-category {
    display: flex;
}

.div-category-left {
    width: 70%;
    display: flex;
}

.div-category-right {
    width: 50%;
    display: flex;
    padding-left: 200px
}

.form-group-select {
    width: 50%
}

.form-group-number {
    width: 25%;
    margin-left: 20px;
}

.form-group-number-input {
    width: 90%;
}

.form-group-btn-add {
    margin-left: 20px;
}
.btn-danger-inlist {
    margin-left: 8px
}
.title-list {
    background-color: #bfd3c1;
}
.form-group-center {
    display: flex;
    justify-content: center;
}