@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Quiz.Database.ViewModels.QuestionsVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Create Questions</h5>
            </div>
            <div class="card-body mx-3">
                <form asp-action="Create" asp-controller="Question" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="question.IsDelete" value="0" class="form-control" />
                    <div class="form-group form-group-select">
                        <label class="form-label control-label-select">Category</label>
                        <select class="form-select form-control pt-0" asp-for="question.Id_Question_Bank"
                            asp-items="Model.QuestionBanks">
                            <option disabled selected>Select an item</option>
                        </select>
                        <span asp-validation-for="question.Id_Question_Bank" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="question.Content" class="form-label control-label">Content</label>
                        <input asp-for="question.Content" class="form-control pt-0" placeholder="Content"/>
                        <span asp-validation-for="question.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="question.Level" class="form-label control-label"></label>
                        <select class="form-select form-control pt-0" asp-for="question.Level">
                            <option class="select_option_fromDB" value="">Select an item</option>
                            <option class="select_option_fromDB" value="0">Easy</option>
                            <option class="select_option_fromDB" value="1">Normal</option>
                            <option class="select_option_fromDB" value="1">Difficult</option>
                        </select>
                        <span asp-validation-for="question.Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="question.Type" class="form-label control-label"></label>
                        <input asp-for="question.Type" class="form-control pt-0" placeholder="Type"/>
                        <span asp-validation-for="question.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="question.Explaint" class="form-label control-label"></label>
                        <textarea asp-for="question.Explaint" class="form-control pt-0" placeholder="Explaint"></textarea>
                        <span asp-validation-for="question.Explaint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="question.ImageUrl" class="form-label control-label">Image</label>
                        <input class="form-control pt-0" asp-for="File" name="file" />
                        <span asp-validation-for="question.ImageUrl" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="text-center">
                            <a asp-action="Index" asp-controller="Question" class="btn btn-primary">Back</a>
                            <input type="submit" value="Save" class="btn btn-secondary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
@section Scripts {
@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
