@model Quiz.Database.ViewModels.QuestionsVM

@{
    ViewData["Title"] = "Create";
}
@Html.AntiForgeryToken()  
<h1>Create</h1>

<h4>Questions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Question" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group-select">
                <label asp-for="question.Question_Bank.Name" class="control-label-select"> </label>
                <select asp-for="question.Id_Question_Bank">
                    <option class="select_option" value="">--Please choose an option--</option>
                    @foreach(var item in Model.question_Banks)
                    {
                        <option class="select_option_fromDB" value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="question.Id_Question_Bank" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="question.Content" class="control-label"></label>
                <input asp-for="question.Content" class="form-control" placeholder="Content">
                <span asp-validation-for="question.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="question.ImageUrl" class="control-label"></label>
                 <input asp-for="File" name="file" />
                <span asp-validation-for="question.ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="question.Level" class="control-label"></label>
                <input asp-for="question.Level" class="form-control" placeholder="Level" />
                <span asp-validation-for="question.Level" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="question.Type" class="control-label"></label>
                <input asp-for="question.Type" class="form-control" placeholder="Type" />
                <span asp-validation-for="question.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="question.Explaint" class="control-label"></label>
                <input asp-for="question.Explaint" class="form-control" placeholder="Explaint" />
                <span asp-validation-for="question.Explaint" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
