@model Quiz.Database.ViewModels.AccountsVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Accounts" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="account.IsDelete" value="0" class="form-control" />
            <div class="form-group">
                <label asp-for="account.Email_User" class="control-label"></label>
                <input asp-for="account.Email_User" class="form-control" placeholder="Email User"/>
                <span asp-validation-for="account.Email_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Password" class="control-label"></label>
                <input asp-for="account.Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Authority" class="control-label"></label>
                <input asp-for="account.Authority" class="form-control" placeholder="Authority" />
                <span asp-validation-for="account.Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.Name" class="control-label"></label>
                <input asp-for="account.Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="account.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.DOB" class="control-label"></label>
                <input asp-for="account.DOB" class="form-control" />
                <span asp-validation-for="account.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.PhoneNumber" class="control-label"></label>
                <input asp-for="account.PhoneNumber" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="account.PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-6">
                    <a asp-action="Index" asp-controller="Accounts" class="btn btn-primary">Back to List</a>
                </div>

            </div>
            
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

