@model Quiz.Database.ViewModels.AccountsVM

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Create Account</h5>
            </div>
            <div class="card-body mx-3">
                <form asp-action="Create" asp-controller="Accounts" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="account.IsDelete" value="0" class="form-control" />
                    @{
                        if (Model.IsExist == "1")
                        {
                        <div class="form-group has-danger" id="divInvalid">
                            <label asp-for="account.Email_User" class="form-label control-label">Email User</label>
                            <input type="text" class="form-control pt-0 is-invalid" id="inputInvalid"  asp-for="account.Email_User" placeholder="Email User" onchange="Remove_hasdanger_input()">
                            <span asp-validation-for="account.Email_User" data-valmsg-replace="true" class="text-danger">This Email is existed, please check again.</span>
                        </div>
                        }
                        else
                        {      
                        <div class="form-group">
                            <label asp-for="account.Email_User" class="form-label control-label">Email User</label>
                            <input asp-for="account.Email_User" class="form-control pt-0" placeholder="Email User"/>
                            <span asp-validation-for="account.Email_User" class="text-danger"></span>
                        </div>
                        }
                    }

                    <div class="form-group">
                        <label asp-for="account.Password" class="form-label control-label"></label>
                        <input asp-for="account.Password" type="password" class="form-control pt-0" placeholder="Password" />
                        <span asp-validation-for="account.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="account.Authority" class="form-label control-label"> </label>
                        <select asp-for="account.Authority" class="form-select form-control pt-0">
                            <option class="select_option_fromDB" value="">Select an item</option>
                            <option class="select_option_fromDB" value="0">Admin</option>
                            <option class="select_option_fromDB" value="1">User</option>
                        </select>
                        <span asp-validation-for="account.Authority" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="account.Name" class="form-label control-label"></label>
                        <input asp-for="account.Name" class="form-control pt-0" placeholder="Name" />
                        <span asp-validation-for="account.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="account.DOB" class="form-label control-label"></label>
                        <input asp-for="account.DOB" class="form-control pt-0" />
                        <span asp-validation-for="account.DOB" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="account.PhoneNumber" class="form-label control-label"></label>
                        <input asp-for="account.PhoneNumber" class="form-control pt-0" placeholder="Phone Number" />
                        <span asp-validation-for="account.PhoneNumber" class="text-danger"></span>
                    </div>
  
                    <br />
                    <div class="row">
                        <div class="text-center">
                            <a asp-action="Index" asp-controller="Accounts" class="btn btn-primary">Back</a>
                            <input type="submit" value="Save" class="btn btn-secondary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}