@model Quiz.Database.ViewModels.QuestionBanksVM

@{
    ViewData["Title"] = "Edit";
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Edit Category</h5>
            </div>
            <div class="card-body mx-3">
                <form enctype="multipart/form-data" asp-controller="QuestionBank" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="questionbank.Id" />
                    <input type="hidden" asp-for="questionbank.IsDelete" value="0" class="form-control" />

                    <div class="form-group">
                        <label asp-for="questionbank.Name" class="form-label control-label"></label>
                        <input asp-for="questionbank.Name" class="form-control pt-0" placeholder="Content">
                        <span asp-validation-for="questionbank.Name" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="questionbank.CreateDate" />
                    <input type="hidden" asp-for="questionbank.UserCreate" />
                    <br />
                    <div class="row">
                        <div class="text-center">
                            <a asp-action="Index" asp-controller="QuestionBank" class="btn btn-primary">Back</a>
                            <input type="submit" value="Save" class="btn btn-secondary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input-margin").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}