@{
    ViewData["Title"] = "Home Page";
}
<body>
 <div class="container">
    <div class="container-2">
        <div class="site-content">
            <div class="header">
                <h1>Question</h1>
            </div>
            <div class="content">
                 <div class="content-1">
                     <img   src="~/Images/anhthacmac.jpg" class="img-content"/>
                 </div>
                <div class="content-2">
                    <p class="introduce">
                        Below you'll find a large collection of some of the best brain teasers and trivia, handpicked by our team. You can filter quizzes by difficulty, rating from Easy to Expert, or by type.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
    <div class="container-3">
        <div class="topic">
            <h1>TOPIC</h1>
        </div>
        <div class="collumns">
            <figure>
            <div class="collumn-maths">
                <img src="~/Images/toanhoc.jpg"/>
            </div>
            <strong>
                <a>MATHS</a>
            </strong>
            </figure>
        </div>
    </div>
</div>
</body>

